@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500&display=swap');

@font-face {
    font-family: Norse;
    src: url("Norse-Bold.otf") format("opentype");
}

html{
    font-size: 24px;
    margin: 0;
    padding: 0;
}

body{
    padding: 0;
    margin: 0; 
    display: flex;
    flex-direction: row;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    
}

.image-section{
    position: relative;
    color: white;
    width: 28%;
}

.image-section img{
    width: 100%;
    height: 107.9%;
    
}

.image-credit {
    position: absolute;
    bottom: -60px;
    width: 100%;
    font-size: 14px;
    text-align: center;
    color: white;
    font-family: inherit;
}

.image-credit > a {
    color: white;
    font-family: inherit;
}

.image-section > .image-text{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    top: 15%;
    text-align: center;
    width: 100%;
    background-color: rgba(0,0,0,0.3);
}

.image-text > h1{
    font-size: 92px;
    padding-top: 66px;
    font-weight: 700;
    height: 100%;
    font-family: Norse,'Times New Roman', Times, serif;

}


.form-row {
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    gap: 100px;
  }

.form-item{
    display: flex;
    flex-direction: column;
}



  .form-row input[type='text'],
  .form-row input[type='email'],
  .form-row input[type='tel'],
  .form-row input[type='password'],
  .form-row select,                 
  .form-row textarea {

      width: 250px;
      height: 24px;
      margin-top: .15rem;
      appearance: none;
      border: 0.1px solid rgba(65, 66, 73, 0.5);
      border-radius: 3px;

}

.form-row input[type='text']:focus-visible,
.form-row input[type='email']:focus-visible,
.form-row input[type='tel']:focus-visible,
.form-row input[type='password']:focus-visible,
.form-row select:focus-visible,
.form-row textarea:focus-visible{
      outline: none;
      border: 1px solid #0e69e0;
      box-shadow: 0 5px 4px 0 rgba(148,148,148,0.60);;
  }


.form-row input[type='password']:invalid{
    outline: none;
    border: 1px solid #cc0d0d;
    box-shadow: 0 5px 4px 0 rgba(148,148,148,0.60);
}

.form-row input[type='password']:invalid + #passwordinvalid{
        visibility: visible;
        color: #cc0d0d;
        font-family: inherit;
        font-size: 0.5rem;
        padding-top: 3px;

}

.form-row input[type='password']:valid + #passwordinvalid{
    visibility: hidden;
    font-size: 0.5rem;


}


.form-row input[type='password']:focus-visible:invalid{
    outline: none;
    border: 1px solid #cc0d0d;
    box-shadow: 0 5px 4px 0 rgba(148,148,148,0.60);

}



.form-row label {
    font-family: inherit;
    font-weight: 500;
    color: #202A38;
    text-align: left;
    font-size: 0.58rem;
    letter-spacing: 2px;
    width: 200px;
    margin-top: 7px;
    padding-right: 20px;
  }

.image-text > img{
    width: auto;
    height: 120px;
   
}

.signup-section{
    width: 72%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.signup-section > .top-section {
    font-weight: 500;
    padding: 6% 40% 3% 4%;
    width: 750px;
    background-color: #f8f8f891;
}

p.main, p.secondary{
    font-size: 1.1rem;
    color: #202A38;
    font-weight: 500;
}

.signup-section > .middle-section {
    padding-left: 4%;
    padding-right: 40%;
    box-shadow: 5px 5px 4px 0 rgba(148,148,148,0.720);
    padding-bottom: 20px;
}

.signup-section > .bottom-section {
    display: flex;
    flex-direction: column;
    background-color: #f8f8f891;
    padding-top: 5%;
    padding-left: 4%;
    padding-right: 40%;
    justify-content: flex-start;


}


.bottom-section > button {
    appearance: none;
    padding: 0.5rem;
    background-color: #596D48;
    box-shadow: 4px 5px 4px 0 rgba(148,148,148,0.20);
    border: none;
    border-radius: 6px;
    font-family: inherit;
    color: white;
    cursor: pointer;
    font-size: 0.65rem;
    width: 12vw;
}

.bottom-section > p {
    font-size: 0.65rem;
    font-weight: 400;
    margin-top: 1rem;
}

.bottom-section > p > a {
    color: #596D48;
    text-decoration: none;
    font-size: inherit;
    font-weight: 500;
    font-family: inherit;
}

/* Form css





